body {
    background-color: orchid;
}
.gird-container-body {
    display: grid;
    grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
    gap: 10px;
    padding: 20px;
}
.header {
    grid-area: header;
    background-color: aqua;
}
.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
}
.main {
    grid-area: main;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}
.grid-item {
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    font-size: 20px;
    border: 2px solid #333;
}
@media (max-width: 768px) {
    main {
    background-color: blue;
    }
}
@media (min-width: 768px) {
    main {
    grid-area: main;
    background-color: red;
    }
}
@media (min-width: 1080px) {
    main {
    grid-area: main;
    background-color: orangered;
    }
}
.footer {
    grid-area: footer;
    background-color: aqua;
    margin-top: 1px;
}
.item1 {
    cursor: pointer;
}
.item2 {
    cursor: pointer;
}
.item3 {
    cursor: pointer;
}
.item4 {
    cursor: pointer;
}
.item5 {
    cursor: pointer;
}
.item6 {
    cursor: pointer;
}
.item7 {
    cursor: pointer;
}
.item8 {
    cursor: pointer;
}
.item9 {
    cursor: pointer;
}