body {
    font-family: cursive;
}
ul {
    padding: none;
    list-style: none;
    border: 1px 1px;
}
li {
    width: 10ex;
    height: 5ex;
    background-color: #dddddd;
    border: 2px solid #a1a;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px;
    transition: 1s;
}
li:hover {
    background-color: aquamarine;
    
}
a {
    padding: 10px 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: azure;
}
.flex-left {
    float:left;
    margin-right: 20px;
    width: 150px;
}
.float-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
.float-container img {
    float:left;
    margin-right: 20px;
    width: 40%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.left-column {
    float: left;
}
.right-column {
    float: right;
}